  <!-- card for search form -->
  <div class="row" id="topCard">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Post Recipe </span>
          <p>
          <form id="recipeForm">
            <div class="form-group">
              <label for="Recipe">Recipe</label>
              <input type="text" class="form-control white-text" id="recipeName" placeholder="Insert Recipe Here">
            </div>
            <div class="form-group">
              <label for="Description">Description</label>
              <input type="text" class="form-control white-text" id="description" placeholder="Insert Description Here">
            </div>
            <div class="form-group">
              <label for="Ingredients">Ingredients</label>
              <input type="text" class="form-control white-text" id="ingredient" placeholder="Insert Ingredients Here">
            </div>
            <div class="form-group">
              <label for="Instructions">Instructions</label>
              <input type="text" class="form-control white-text" id="instructions" placeholder="Insert Instructions Here">
            </div>
            <div class="form-group">
                  <label class="file-upload-container" for="file-upload">
        <input id="file-upload" type="file" style="display:none;">
        Upload Image
      </label>
            </div>
            <div class="card-action">
              <button class="btn waves-effect waves-light teal lighten-1" type="submit" name="action" id=""><span
                  class="grey-text text-lighten-5">Post</span>
                <i class="material-icons right"></i>
              </button>
            </div>
          </form>
          </p>
        </div>
      </div>
    </div>
  </div>

<!--start of cards-->
 {{#each data}}
<div class="row">
    <div class="card horizontal">
       <h2 class="header">{{this.recipeName}}</h2>
      <div class="card-image">
        <!-- this is a temporary placeholder image. needs to be replaced by actual search results -->
    
        <img id ="image" src="../images/foodplaceholder.jpg" alt="foodpic">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
              
            <ul class="collection">
              <li class="collection-item">Recipe Title</li>
                        <a>{{this.recipeName}}</a>
              <li class="collection-item">Description</li>
                        <a>{{this.description}}</a>
              <li class="collection-item">Ingredients</li>
                        <a>{{this.ingredient}}</a>
              <li class="collection-item">Instructions</li>
                        <a>{{this.instructions}}</a>
            </ul>
       
          </p>
        </div>
        <div class="card-action">
          <a href="/recipe/{{this.id}}">Want to see more?</a> <a href="/api/recipes/{{this.id}}">DELETE</a>
        </div>
      </div>
    </div>
  </div>
 {{/each}}